/lr2/nbproject/private/
/lr2/build/
/lr2/dist/
/lr3/nbproject/private/
/lr3/dist/
/lr3/build/
/lr4/nbproject/private/
/lr4/build/
/lr5/nbproject/private/
/lr5/dist/
/lr5/build/
/lr6/nbproject/private/
/lr6/dist/
/lr6/build/
